
* {
    margin: 0 auto;
    padding: 0;
}
.body {
    font-family: 'DM Sans', 'sans-serif';
}
.top {
    background: white;
    width: 1440px;
    /*height: 845px;*/
}
.container {
    /*margin: 0;*/
    /*border: solid 1px gray;*/
    padding-left: 144px;
    padding-right: 21px;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 50px;
    width: 1275px;
}

a {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
}

.plantbtn {
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    color: #1A1A1A;
    padding-right: 331px;

}
.singupbtn {
    background: #066F14;
    padding: 12px 16px;
    color: white;
    border: none;
    cursor: pointer;
}
.topbtn {
    padding-left: 128px;
}
.top_info {
    width: 1275px;
    padding-top: 102px;
    flex-grow: 1;
    background-image: url("aloe.png"), url("leaves.png");
    background-repeat: no-repeat;
    background-position: right,  465px 349px;
}

.header1 {
    width: 548px;
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 92px;
    color: #1A1A1A;
    margin-bottom: 24px;
    padding-right: 748px;

}
.top_box{
    display: flex;
    flex-direction: column;
}
.text {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4A4A4A;
}
.top_text {
   width: 504px;
    padding-right: 792px;
}
.btn {
    font-family: 'DM Sans', sans-serif;
    background: #066F14;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: inline;
    border-radius: 4px;
    margin-top: 40px;
}
.table {
    text-align: left;
    width: 548px;
}

th {
    font-size: 36px;
    font-family: 'Nunito', 'Roboto', sans-serif;
    line-height: 49px;
    color: #001B04;
}
td {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #1A1A1A;
}
.pointer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;

}
.cactus1 {
    position: absolute;
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
    font-style: normal;
    background: rgba(6, 111, 20, 0.7);
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

}
.cactus2 {
    position: absolute;
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
    font-style: normal;
    background: rgba(6, 111, 20, 0.7);
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.cactus3 {
    position: absolute;
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
    font-style: normal;
    background: rgba(6, 111, 20, 0.7);
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.heading3 {
    font-family: 'Nunito', 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #1A1A1A;
    width: 389px;
    margin-bottom: 37px;
}
.see_collection {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #4A4A4A;
    font-family: 'DM Sans', sans-serif;
}
.card-box {
    display: flex;
    justify-content: space-between;
}
.card {
  margin-top: 154px;
}

.card1 {
    background: #F6EDE8;
    border-radius: 4px;
    padding: 22px 21px;
    margin-right: 24px;
}
.card2 {
    background: #F0F1F6;
    border-radius: 4px;
    padding: 22px 21px;
    margin-right: 24px;
}
.collection {
    padding-right: 62px;
}
.picture IMG{
    position: relative;
}
.color_green {
    top: 128px;
    z-index: 1;
}
.tree_green {
    left: 70px;
    top: -270px;
    z-index: 5;
}
.tree {
    display: flex;
    justify-content: space-between;
}
.header_2 {
    width: 469px;
    text-align: left;
}
.info {
    width: 504px;
    text-align: left;
}
.bloc {
    padding-top: 128px;
}
.about_us {
    font-size: 18px;
    line-height: 23px;
    color: #066F14;
}
.header_2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #1A1A1A;
}

